body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.search-field {
  border: none;
  /* border-radius: 50px; */
  padding: 5px;
  outline: none;
  background-color: rgb(41, 41, 41);
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(3, 118, 211);
  width: 281px;
  border-radius: 5px;
  margin: 30px auto;
  border-right: none;
  color: azure;
  display: flex;
}
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: auto;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

.detailsProducts{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.479);
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  transform: translateX(-200%);
  transition: all .5s ease;
  overflow-y: scroll;
}

.product-details .single-product{
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  position: relative;
}
.detailsClose{
  position: absolute;
  right: 20px;
  top: 20px;
}





@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
